<!DOCTYPE html>
<html>
<head>
	<title>No se encontraron resultados</title>
</head>
<body>
	<h1>No se encontraron resultados</h1>
	<p>No se encontró ningún registro para el índice <%= index %></p>
	<a href="/">Nueva búsqueda</a>
</body>
</html>
