<!DOCTYPE html>
<html>
<head>
	<title>Resultados de la búsqueda</title>
</head>
<body>
	<h1>Resultados de la búsqueda</h1>
	<p>Apellidos: <%= apellidos %></p>
	<p>Nombres: <%= nombres %></p>
	<a href="/">Nueva búsqueda</a>
</body>
</html>
